//colores

$bear-brown:#051023;
$bear-brown-shadow:#0B2047;
$koi-red: #e75724;
$koi-red-light:#f8a080;
$koi-red-shadow:#aa3c14;
$pond-green: #0f6e48;
$pond-green-light: #67c9a2;
$lake-blue: #153F8D;
$lake-blue-light: #7DC8FA;
$lake-blue-shadow: #0B2657;
$white: #FFFFFF;
$black: #000000;

//breakpoints
$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;