//colores

$bear-brown: #6b542f;
$bear-brown-shadow: #3d2f19;
$koi-red: #e75724;
$koi-red-light:#f8a080;
$koi-red-shadow:#aa3c14;
$pond-green: #0f6e48;
$pond-green-light: #67c9a2;
$lake-blue: rgb(21, 63, 141);
$lake-blue-light: rgb(125, 200, 250);
$lake-blue-shadow: rgb(11, 38, 87);
$sakura-pink: #f0d8d4;
$white: #FFFFFF;
$black: #000000;

//breakpoints
$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;