//colores

$bear-brown: #6b542f;
$bear-brown-shadow: #3d2f19;
$koi-red: #e75724;
$koi-red-shadow:#aa3c14;
$pond-green: #0f6e48;
$sakura-pink: #f0d8d4;
$white: #FFFFFF;
$black: #000000;

//breakpoints
$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;