.card{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    
    &__img{
        text-align: center;

        img{ 
            height: 50px;
            width: 50px;
            border-radius: 50px; 
            object-fit: cover;
        }
    }


    &__main{
        display: flex;
        flex-wrap: wrap;
        width: 83%;
    }

    &__name{
        width: 80%;
        font-size: 1.2rem;
        font-weight: 700;

        a{
            color: black;
            text-decoration: none;
        }
    }

    &__date{
        width: 20%;
        text-align: end;
        font-size: 0.9rem;
    }

    &__text{
        width: 100%;
    }

}