body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include respond-to($bp-lg){
        flex-direction: row;
    }
}

.section1{
    width: 100%;

    @include respond-to($bp-lg){
        width: 19.5%;
        margin-right: 5px;
        min-width: 400px;
        max-width: 500px;
    }

}

.section2{
    width: 100%;
    flex-grow: 1;

    @include respond-to($bp-lg){
        width: 80%;
    }
}